@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thanh cuộn custom */
.custom-scrollbar {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: rgba(0,0,0,0.2) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;                        /* ngang */
  width: 6px;                         /* dọc */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);  /* màu mờ */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);  /* đậm hơn khi hover */
}

/* Biến thể “siêu kín” – gần như tàng hình cho tới khi hover */
.ghost-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.ghost-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.ghost-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(107,114,128,.35); /* gray khi hover */
}